$prefix: "../../";
$bg__artists-img: $prefix+"img/artists/artists-s1.jpg";
$bg__comingsoon-img: $prefix+"img/coming.jpg";
$bg__contact-img: 
    $prefix+"img/contact/contact-s1.jpg",
    $prefix+"img/contact/contact-s2.jpg";
$bg__error-img: $prefix+"img/error.jpg";
$bg__index-img: $prefix+"img/index/index-s1.jpg";
$bg__login-img: $prefix+"img/login/login-s1.jpg";
$bg__privacy-img: $prefix+"img/privacy.jpg";
$bg__shows-img: 
    $prefix+"img/shows/shows-s1.jpg",
    $prefix+"img/shows/shows-s2.jpg",
    $prefix+"img/shows/shows-s3.jpg";
$bg__tickets-img: $prefix+"img/tickets/tickets-s1.jpg";
$bg__init:
    "artists",
    "comingsoon",
    "contact",
    "error",
    "index",
    "login",
    "privacy",
    "shows",
    "tickets";
$classes_init:
    $bg__artists-img,
    $bg__comingsoon-img,
    $bg__contact-img,
    $bg__error-img,
    $bg__index-img,
    $bg__login-img,
    $bg__privacy-img,
    $bg__shows-img,
    $bg__tickets-img;
$footer-height: 57px;
$text__shadow: 1px 1px 3px #333;